<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <h2>Birinci ve ikinci kutular integer array alıyor, üçüncü ve dördüncü kutular integer bir tamsayı alıyor.</h2>
        <h2>İlk array, üçüncü kutudaki tamsayıyı index olarak alıyor ve ikinci arrayin dördüncü kutudan aldığı indexi bölüp sonucu tekse true, çift veya yoksa false dönüyor</h2>
        <textarea name="input1" rows="10" cols="10"></textarea>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <br>
        <input type="submit">
  </form>

